body {
  background-color: #ebddf5;
}

html > * {
  padding: 10px 7% 10px 7%;
}

h1 {
  margin: 0px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  padding-bottom: 100px;
}

main {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  flex-wrap: wrap;
}

.icons {
  padding-top: 10px;
}

.icons > span {
  padding-left: 10px;
}

.card {
  background-color: black;
  height: 300px;
  width: 400px;
  margin: 10px;
}

.card:nth-child(2) {
  background-color: yellow;
}
